[Unit]
Description=Greenlight API service

# wait for postgresql and network before starting service
After=postgresql.service
After=network-online.target
Wants=network-online.target

# don't allow service to (re)start more than 5 times in 600 seconds
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=exec
User=greenlight
Group=greenlight
EnvironmentFile=/etc/environment
WorkingDirectory=/home/greenlight
ExecStart=/home/greenlight/api -port=4000 -db-dsn=${GREENLIGHT_DB_DSN} -env=production
Restart=on-failure
RestartSec=5

[Install]
# auto start at boot time
WantedBy=multi-user.target
